.members {
    display: flex;
    flex-direction: column;
    gap: var(--s);
}

.members__search {
    background-color: var(--bg-2);
    border-radius: var(--xs);
    display: flex;
    align-items: center;
    font-size: var(--font-s);
    border: 0.2rem solid transparent;
}

.members__search .icon {
    padding: var(--xxs);
    border-right: 0.01rem solid var(--text-1);
    opacity: 0.4;
}

.members__input {
    padding: var(--xxs);
    flex: 1;
    color: var(--text-1);
    transition: 0.2s;
    border-radius: var(--xs);
}

.members__search:has(.members__input:focus) {
    border-color: rgba(255 255 255 / 0.1);
}

.members__group {
    background-color: var(--bg-2);
    border-radius: var(--s);
    padding: var(--xs);
    display: flex;
    flex-direction: column;
    gap: var(--m);
}

.member {
    font-size: var(--font-s);
    display: flex;
    align-items: center;
    gap: var(--xxs);
}

.member:not(:last-child) {
    border-bottom: 0.01rem solid rgba(255 255 255 / 0.1);
    padding-bottom: var(--xs);
}

.member__name {
    margin-right: auto;
    line-height: 1.1;
}

.member__email {
    font-size: var(--font-xxs);
    opacity: 0.4;
    letter-spacing: 0.02rem;
    font-weight: var(--light);
}

.member__date {
    font-size: var(--font-xs);
    display: flex;
    align-items: center;
    gap: var(--xxs);
    font-weight: var(--light);
}

.member__expiry {
    display: flex;
    align-items: center;
    gap: var(--xxxs);
}

.member__expiry,
.member__days-left {
    opacity: 0.8;
}

.member__date .line {
    width: 0.01rem;
    height: 1rem;
    background-color: rgba(255 255 255 / 0.2);
    border-radius: var(--s);
}

.member > .line {
    width: 2rem;
    height: 0.01rem;
    background-color: rgba(255 255 255 / 0.08);
    border-radius: var(--s);
}

.member__buttons {
    display: flex;
    align-items: center;
    gap: var(--xxs);
}

.member__button {
    width: 2rem;
    height: 2rem;
    border-radius: var(--s);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(255 255 255 / 0.04);
}

.member__button:hover {
    background-color: rgba(255 255 255 / 0.1);
}

.member__badge {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--s);
}

.active .member__badge {
    background-color: var(--success);
}

.closing .member__badge {
    background-color: var(--warning-2);
}

.inactive .member__badge {
    background-color: var(--error);
}

.members .empty {
    margin-top: var(--xxxl);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xxxs);
}



/* media query */
@media (max-width: 640px) {

    .members__group {
        /* flex-direction: row; */
        flex-wrap: wrap;
    }

    .member {
        flex-wrap: wrap;
        row-gap: var(--xl);
    }
    
    .member__name {
        flex: 1;
    }

    .member__date {
        align-self: flex-start;
    }

    .member > .line {
        display: none;
    }

    .member__buttons {
        flex: 100%;
    }

    .member__badge {
        margin-bottom: var(--xs);
    }

    .member__buttons {
        justify-content: flex-end;
    }
    
}

@media (max-width: 480px) {

    .member__date {
        flex: 100%;
        margin-left: var(--s);
    } 
    
    .member__buttons {
        justify-content: flex-start;
        margin-left: var(--s);
    }
}