.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 / 0.04);
    backdrop-filter: blur(0.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal__content {
    background-color: var(--new-2);
    display: flex;
    flex-direction: column;
    border-radius: var(--s);
}

.modal__header {
    padding: var(--xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__close {
    transition: 0.3s;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__body {
    padding: var(--xs);
    display: flex;
    flex-direction: column;
    gap: var(--xl);
}

.modal__memberships {
    display: flex;
    gap: var(--xs);
}

.modal__membership button {
    background-color: var(--new-3);
    border-radius: var(--m);
}

.modal__membership button:hover .icon {
    scale: 1.04;
    background-color: var(--new-2);
}

.modal__membership button.active .icon {
    scale: 1.05;
    /* background: linear-gradient(to top, var(--new-2), #2c5364, var(--new-3)); */
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
}

.modal__membership .icon {
    background-color: var(--new-1);
    width: 6rem;
    aspect-ratio: 1;
    border-radius: var(--m);
    margin-bottom: -0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--xxxs);
    margin-bottom: 0;
    font-size: var(--font-xl);
    transition: 0.3s;
}

.modal__membership div {
    text-align: center;
    font-size: var(--font-s-xs);
    color: var(--new-2);
    font-weight: var(--light);
}

.modal__button {
    width: 100%;
}

.modal__form input {
    border-color:rgba(255 255 255 / 0.04);
}

.login .modal__button {
    margin-top: var(--xs);
}


/* holidays */
.modal__holidays .form__input[type='date'] {
    cursor: pointer;
}

.modal__holidays .form__group {
    display: flex;
    gap: var(--xxxs);
}

.modal__holidays .from .form__input,
.modal__holidays .to .form__input {
    width: 10rem;
}

.modal__holidays .line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__holidays .line h5 {
    background-color: var(--new-2);
    padding-inline: var(--xxs);
    z-index: 1;
}

.modal__holidays .line::after,
.modal__holidays .line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.01rem;
    background-color: rgba(255 255 255 / 0.06);
}

.form__field .date {
    position: relative;
    max-width: fit-content;
}

.form__field .toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(var(--xs) * -1), -50%);
    transition: 0.3s;
}

.form__field .toggle:hover {
    opacity: 0.6;
}



/* media query */
@media (max-width: 480px) {

    .modal {
        padding: var(--xxs);
    }

    .modal__content {
        width: 100%;
    }
    
    .form__field .date {
        min-width: 100%;
    }

    .modal__holidays .from ,
    .modal__holidays .to  {
        min-width: 50%;
    }

    .modal__holidays .from .form__input,
    .modal__holidays .to .form__input {
        width: 100%;
    }


    /* memberships */
    .modal__membership {
        flex: 1;
    }
    
    .modal__membership button {
        width: 100%;
    }
    
    .modal__membership .icon {
        width: 92%;
    }
}