.admin {
    display: flex;
    flex-direction: column;
    gap: var(--xxl);
    position: relative;
}

.admin::after {
    content: '';
    position: absolute;
    top: -4%;
    left: 0;
    width: 20rem;
    aspect-ratio: 1;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    filter: blur(8rem);
    z-index: -1;
}

.admin__title {
    display: flex;
    align-items: center;
    gap: var(--xs);
    background-color: var(--bg-2);
    padding: var(--xs);
    border-radius: var(--xs);
}

.admin__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--xxs);
}

.admin__tab {
    display: flex;
}

.admin__tab a {
    background-color: var(--bg-2);
    padding: var(--xs);
    border-radius: var(--xs);
    font-size: var(--font-s);
    font-weight: var(--semi-bold);
    border: 0.2rem solid transparent;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: var(--xxs);
}

.admin__tab a:hover,
.admin__tab .active {
    border-color: rgba(255 255 255 / 0.12);
}