.notifications__content {
    display: flex;
    flex-direction: column;
    gap: var(--m);
}

.notifications__title {
    display: flex;
    align-items: center;
    gap: var(--xxxs);
}

.notifications .form__textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 8rem;
    max-height: 14rem;
}

.notifications .form__label {
    opacity: 0.7;
    font-weight: var(--light);
    letter-spacing: 0.02rem;
}