.user {
    display: flex;
    flex-direction: column;
    gap: var(--xxl);
}

.user__title {
    display: flex;
    align-items: center;
    gap: var(--xs);
    background-color: var(--new-2);
    padding: var(--xs);
    border-radius: var(--xs);
}

.user__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--xxs);
}

.user__tab a {
    background-color: var(--new-2);
    padding: var(--xs);
    border-radius: var(--xs);
    font-size: var(--font-s);
    font-weight: var(--semi-bold);
    border: 0.2rem solid transparent;
    transition: 0.2s;
}

.user__tab a:hover,
.user__tab .active {
    border-color: rgba(255 255 255 / 0.1);
}