.root__content {
    display: flex;
    flex-direction: column;
    gap: var(--xxxxl);
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__content {
    width: var(--content-width);
    min-height: 80vh;
    padding-top: calc(var(--xxxxl) * 1.8);
}

.icon {
    color: var(--new-3);
}

.footer {
    margin-top: auto;
}


/* form */
.form__content {
    display: flex;
    flex-direction: column;
    gap: var(--m);
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: var(--xxs);
}

.form__label {
    font-size: var(--font-s);
    font-weight: var(--semi-bold);
}

.form__input {
    background-color: var(--new-2);
    border-radius: var(--s);
    padding: var(--xs);
    border: 0.2rem solid transparent;
    font-size: var(--font-s);
    color: var(--new-3);
    width: 20rem;
}

.form__input:focus {
    border-color: rgba(255 255 255 / 0.1);
}

.form__error-message {
    font-size: var(--font-xs);
    opacity: 0.6;
    font-weight: var(--light);
    margin-top: calc(var(--xxxs) * -1);
    margin-left: var(--xxs);
    letter-spacing: 0.02rem;
}

.form__button {
    padding: var(--xs);
    border-radius: var(--xs);
    font-size: var(--font-s);
    font-weight: var(--semi-bold);
    background-color: var(--new-3);
    color: var(--new-2);
    align-self: flex-start;
    border: 0.2rem solid transparent;
    transition: 0.2s;
}

.form__button:hover,
.form__button:focus {
    border-color: rgba(0 0 0 / 0.2);
}

.form__input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.password .form__input {
    letter-spacing: 0.02rem;
    padding-right: var(--xxl);
}

.form__button:disabled {
    opacity: 0.2;
    pointer-events: none;
}



/* media query */
@media (max-width: 1080px) {
    .main__content {
        padding-inline: var(--xs);
    }
}

@media (max-width: 480px) {
    
    .form__field .password {
        min-width: 100%;
    }

    .form__input {
        width: 100%;
    }
}