.holidays {
    display: flex;
    flex-direction: column;
    gap: var(--xl);
}

.holidays__group {
    display: flex;
    flex-direction: column;
    gap: var(--l);
}

.holidays__list {
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    position: relative;
}

.holidays__list::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 102%;
    width: 0.01rem;
    background-color: rgba(255 255 255 / 0.06);
}

.holiday {
    display: flex;
    align-items: center;
    gap: var(--xxs);
    font-size: var(--font-s);
}

.holiday > .line {
    flex: 1;
    height: 0.01rem;
    border-bottom: 0.01rem solid rgba(255 255 255 / 0.08);
}

.holiday__text {
    margin-right: var(--xxxs);
}

.holiday > span {
    transform: translateX(-50%);
}

.holiday__date {
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: var(--xxxs);
}

.holiday__date .icon {
    opacity: 0.6;
}

.holidays__button {
    align-self: center;
    width: 4rem;
    background-color: var(--bg-2);
    padding: var(--xs);
    border-radius: var(--xs);
    font-size: var(--font-s);
    font-weight: var(--semi-bold);
    border: 0.2rem solid transparent;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holidays__button:hover,
.holidays__button:focus {
    border-color: rgba(255 255 255 / 0.1);
}

.holiday__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xxs);
}

.holiday__button {
    width: 2rem;
    height: 2rem;
    border-radius: var(--s);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(255 255 255 / 0.04);
}

.holiday__button:hover {
    background-color: rgba(255 255 255 / 0.1);
}



/* media query */
@media (max-width: 880px) {

    .holidays__list {
        gap: var(--xxxl);
    }

    .holiday {
        flex-wrap: wrap;
        row-gap: var(--xxxs);
        padding-bottom: var(--m);
    }

    .holiday > .line {
        display: none;
    }

    .holiday__text {
        margin-bottom: var(--s);
    }
    
    .holiday__text,
    .holiday__buttons {
        flex: 100%;
        justify-content: flex-start;
        margin-left: var(--m);
    }
    
}